:root {
  --primary-color-1: #121212;
  --primary-color-2: #4e0fc3;
  --primary-color-3: #f8f5f5;
  --primary-color-4: #5a7870;
  --primary-color-1-shade: #2c2b2b;
  --primary-color-3-shade: #fafafadd;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-4);
  color: var(--primary-color-3);
}
.menu-list {
  display: flex;
  gap: 3rem;
}

.menu {
  text-decoration: none;
  color: var(--primary-color-3);
}
.menu:hover {
  color: var(--primary-color-1);
  transition: color 0.2s;
}

.name {
  display: flex;
}
.name > p > a {
  text-decoration: none;
  color: var(--primary-color-3);
}
.overlap {
  display: flex;
  align-items: center;
}
.hero {
  padding: 5rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-evenly;
}
.img-1 {
  border-radius: 10rem;
  margin-left: -5rem;
  border-bottom-right-radius: 5px solid rgba(90, 120, 112);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo img {
  height: 30px;
}

.name > p > a {
  font-family: "Melodrama", serif;
  font-size: 2rem;
  font-weight: 900;
}

.hero-content h1 {
  font-weight: 500;
  font-size: 3rem;
  padding-right: 5rem;
}
.hero-content h1 > span {
  font-style: italic;
  color: #5a7870;
}
.hero-content p {
  font-size: 1.2rem;
}
.logo-loop {
  background-color: var(--primary-color-1);
  padding: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.brandinfo {
  font-size: 2rem;
  color: var(--primary-color-3);
  /* font-weight: 800; */
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: 50%;
}
.hero-content > a {
  padding-bottom: 0.5rem;
  align-self: flex-start;
}
.brand-logo img {
  filter: contrast(1.2);
  image-rendering: pixelated;
}
.underline-transition {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color-2);
  transition: color 0.3s;
  /* font-weight: 700; */
}

.underline-transition::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color-2);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.underline-transition:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.purpose {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: var(--primary-color-1);
  color: white;
  gap: 5rem;
}
.purpose span {
  font-size: 10rem;
}
.purpose > img {
  border-radius: 20px;
  min-width: none;
}
.what > .one {
  font-weight: 600;
  font-size: 1.5rem;
}
.two {
  font-weight: 400;
}
.what {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1rem;
  width: 60%;
  line-height: 1.8;
}
.details {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  justify-content: space-around;
}
.details > p > span {
  font-size: 10rem;
}
.details > .title {
  font-size: 1.2rem;
  align-self: center;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.images {
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
  gap: 3rem;
  padding: 1rem;
  justify-items: center;
}

.img {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min-content;
}
.testimonial-section {
  text-align: center;
  padding: 5rem 0;
}

.testimonial-section h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.testimonial-card {
  border-radius: 10px;
  width: 350px;
  margin: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-card blockquote {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.testimonial-card .testimonial-author {
  font-weight: 600;
}

.testimonial-card::before {
  content: "\201C";
  font-family: Arial, sans-serif;
  font-size: 4rem;
  color: var(--primary-color-1);
  display: block;
  margin-bottom: 1rem;
}

.testimonial-card:nth-child(2) {
  background-color: var(--primary-color-4);
  color: #ffffff;
  position: relative;
  transform: translateY(-30px);
}

.testimonial-card:nth-child(2)::before {
  content: "\201C";
  color: #ffffff;
}

.testimonial-card:nth-child(2) .testimonial-author {
  color: #ffffff;
}

.testimonial-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.testimonial-card li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.light {
  background-color: var(--primary-color-3);
  color: var(--primary-color-1);
}
.light > a {
  color: var(--primary-color-1);
}

footer {
  background-color: var(--primary-color-1);
  color: var(--primary-color-3);
  padding: 2rem;
}
#arrow {
  font-size: 5rem;
  transform: rotate(-45deg);
}

.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-start {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}
.footer-text {
  display: flex;
  gap: 1rem;
  padding: 3rem;
  border-radius: 20px;
  justify-self: flex-start;
  background-color: var(--primary-color-1-shade);
  align-items: center;
}
.footer-text p {
  font-size: 2rem;
}

.footer-social-icons a:hover {
  opacity: 0.8;
}
.socials {
  display: flex;
  justify-content: space-between;
}

.legal-links a,
.connect i {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.legal-links a:hover,
i:hover {
  opacity: 0.8;
  cursor: pointer;
}
.back {
  padding: 1rem;
  background-color: #3d3d3d;
  border-radius: 20px;
}
.light > i {
  color: #121212;
}
@media screen and (max-width: 1200px) {
  body,
  html {
    font-size: 14px;
  }
  .hero > .img-2 {
    display: none;
  }

  .testimonial-card:nth-child(2) {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
  .name > svg {
    width: 20px;
    height: 20px;
  }
  .menu-list {
    display: none;
  }
  .hero > img {
    display: none;
  }
  .overlap > svg {
    display: none;
  }
  .overlap > img {
    margin-left: 0;
  }

  .name {
    justify-content: center;
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--primary-color-1);
    cursor: pointer;
  }

  .menu-toggle .icon-menu {
    display: block;
  }

  .menu-toggle .icon-close {
    display: none;
  }
  .hero-content > a {
    align-self: center;
  }

  nav.menu-open .menu-toggle .icon-menu {
    display: none;
  }

  nav.menu-open .menu-toggle .icon-close {
    display: block;
  }

  nav.menu-open .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .hero {
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    align-items: center;
  }

  .hero-content {
    gap: 2rem;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 1.8rem;
    padding: 0;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .brand-logo img {
    height: 20px;
  }

  .logo-wrapper {
    width: 100%;
  }

  .purpose {
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
  }

  .purpose span {
    font-size: 6rem;
  }

  .what {
    width: 100%;
    padding: 2rem;
  }

  .details {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .details p.title {
    text-align: center;
  }

  .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .imgs {
    width: -webkit-fill-available;
  }

  footer {
    padding: 1rem;
  }

  .footer-start {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .footer-text {
    padding: 2rem;
    text-align: left;
  }
  .footer-text p {
    font-size: 1.5rem;
  }

  .footer-social-icons,
  .legal-links {
    justify-content: center;
  }
  .socials {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .images {
    grid-template-areas:
      "img1"
      "img2"
      "img3";
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
